{% extends 'admin/base.html' %}

{% block title %}Edit Data Petugas{% endblock %}

{% block content %}

  <div class="wrapper">
    <div class="card">
      <h1>Edit Data Petugas</h1>
      <div class="subtitle">Isi data Petugas</div>

      <form>
        <label>Nama Petugas</label>
        <input type="text" />

        <label>Lokasi</label>
        <input type="text" />

        <div class="actions">
          <button type="button" class="btn">Batal</button>
          <button type="submit" class="btn btn-primary">Simpan</button>
        </div>
      </form>
    </div>
  </div>

{% endblock%}