{% extends 'admin/base.html' %}

{% block title %}Tambah Data Lokasi{% endblock %}

{% block content %}

<div class="content-data_barang">

    <div class="card">

        <!-- HEADER -->
        <div class="mb-4">

            <h1>Tambah Data Lokasi</h1>

            <p class="subtitle">
                Isi Data Lokasi
            </p>

        </div>

        <!-- FLASH MESSAGE -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}

                {% for message in messages %}

                    <div class="alert alert-success alert-dismissible fade show" role="alert">

                        {{ message }}

                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="alert">
                        </button>

                    </div>

                {% endfor %}

            {% endif %}
        {% endwith %}

        <!-- FORM -->
        <form method="POST"
              action="{{ url_for('tambah_lokasi') }}">

            <!-- NAMA LOKASI -->
            <label>Nama Lokasi</label>

            <input 
                type="text"
                name="nama_lokasi"
                placeholder="Masukkan nama lokasi"
                required
            >

            <!-- BUTTON -->
            <div class="actions">

                <a href="{{ url_for('data_lokasi') }}">

                    <button 
                        type="button" 
                        class="btn"
                    >
                        Batal
                    </button>

                </a>

                <button 
                    type="submit" 
                    class="btn btn-primary"
                >
                    Simpan
                </button>

            </div>

        </form>

    </div>

</div>

{% endblock %}