{% extends 'admin/base.html' %}

{% block title %}Tambah Kategori{% endblock %}

{% block content %}

<div class="content-data_barang">

    <div class="card">

        <!-- HEADER -->
        <div class="mb-4">

            <h1>Tambah Kategori</h1>

            <p class="subtitle">
                Isi Data Kategori
            </p>

        </div>

        <!-- FORM -->
        <form 
            action="{{ url_for('tambah_kategori') }}"
            method="POST"
        >

            <label>Nama Kategori</label>

            <input 
                type="text"
                name="nama_kategori"
                placeholder="Masukkan nama kategori"
                required
            >

            <!-- BUTTON -->
            <div class="actions">

                <a href="{{ url_for('data_kategori') }}">

                    <button 
                        type="button"
                        class="btn"
                    >
                        Batal
                    </button>

                </a>

                <button 
                    type="submit"
                    class="btn btn-primary"
                >
                    Simpan
                </button>

            </div>

        </form>

    </div>

</div>

{% endblock %}